
.search-application {
    padding: 6px;
}

.dropdown-application-name {
    margin-left: 25px;
}

.picker, .input-max-width {
    width: 40% !important;
}

.pc-trigger {
    height: 35px;
}

.application-list-width {
    height: 20rem;
    overflow-y: auto;
}

.application-name {
    margin-left: 25px;
    position: absolute;
}

.application-icon {
    font-size: 20px;
    position: absolute;
    margin-top: -5px;
}
