<!-- BEGIN breadcrumb -->
<ol class="breadcrumb float-xl-end">
	<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
	<li class="breadcrumb-item"><a href="javascript:;">Products</a></li>
	<li class="breadcrumb-item active">Resources</li>
</ol>
<!-- END breadcrumb -->
<!-- BEGIN page-header -->
<h1 class="page-header">Resources <small> List of all the resources</small></h1>
<!-- END page-header -->

<!-- BEGIN row -->
<div class="row">
	<!-- BEGIN col-12 -->
	<div class="col-xl-12">
		<!-- BEGIN panel -->
		<panel title="Application">
			  
			  <div class="card">
				<div class="card-body">
					<div class="row mb-15px">	
						<div class="input-group">
							Current Status: <span class="badge bg-success ms-1">You have selected this</span>		
						</div>	
					</div>
                    
					<!-- Please select category with dropdown -->
					<div class="row mb-15px">	
						<div class="input-group">
							<span class="input-group-text input-group-width-xl">Select category</span>
							
							<!-- <div class="form-control picker" (click)="showDropDownCategory()">
								<span class="pc-select">
									<span *ngIf="!selectedCategoryName" class="pc-element pc-trigger">Select value</span>
									<span *ngIf="selectedCategoryName" class="pc-element pc-trigger"><i class="{{selectedCategoryIcon}}"></i> {{selectedCategoryName}}</span>
									<span class="pc-list" *ngIf="showCategory">
										<ul *ngFor="let category of categoryList; let i = index">
											<li data-order="{{index}}" (click)="chooseCategory(category)"><i class="{{category.iconType}}"></i> {{category.categoryName}}</li>
										</ul>
									</span>
								</span>
							</div> -->
						</div>
					</div>
			    </div>
			  </div>
		</panel>
	</div>
</div>
